/* --- THIS IS THE CRITICAL PART --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- This part adds the custom spinner animation --- */
@layer components {
  /* Custom spinner animation */
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid theme('colors.indigo.600');
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}